:root{
    --livya: #ffec82; 
    --branco:#ffffff;
}



body{
    background-color: var(--livya);
}

img{
    width: 20%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.intro{
    display: flex;
    background-color:var(--branco) ;
    border-radius: 50px;
    /* border-style: double; */
    /* border-width: 10px; */
    /* border-color: black; */
    border: dotted 10px black;
    margin:10px;
    padding:10px;
}
.equipe{
    display:grid;
    grid-template-columns: 60% 60% 60%;
    grid-template-columns: 60% 60% 60%;
    background-color:var(--verde);
    text-align: center;

}