:root{
    --livya: #ffec82; 
    --branco:#ffffff;
}



body{
    background-color: var(--livya);
}

img{
    width: 20%;
}

.intro{
    display: flex;
    margin: 10px;
    padding: 10px;
}
.equipe{
    display:grid;
     grid-template-columns: 50% 50% ;
    background-color:var(--verde);
    text-align: center;

}

.titulo{
    background-color: #DAC92E;
    text-align: center;
}

.tit{
    text-align: center;
}

.direita{
    text-align: right;
}